.cover__link {
    min-height: 740px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-image: url(../../../images/__background_optimized.jpg);
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
}
.cover__link::after{
    content: "";
    background: #2A2C2F;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
}

.cover__link:hover::after {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover__link {
        min-height: 640px;
    }  
}

@media screen and (max-width: 880px) {
    .cover__link {
        min-height: 531px;
    }  
}

@media screen and (max-width: 768px) {
    .cover__link {
        min-height: 480px;
    }  
}

@media screen and (max-width: 600px) {
    .cover__link {
        min-height: 375px;
    }  
}

@media screen and (max-width: 425px) {
    .cover__link {
        min-height: 265px;
    }  
}

@media screen and (max-width: 320px) {
    .cover__link {
        min-height: 200px;
    }  
}
/* Thank you so much, I learned a lot from your comments !! :)
I have two questions it's ok not to answer.
1. Is there a problem with multi Media Queries?
2. Why is it not possible to give a percentage to the height?
 (When I gave the image gone) instead of writing in pixels a lot of media queries (as in the code on this page). */