.lead__title {
    max-width: 720px;
    margin: auto;
    color: white;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .lead__title {
        width: calc( 100% -  2 * 24px);
        font-size: 55px;
        line-height: 110%;
    }  
}

@media screen and (max-width: 425px) {
    .lead__title {
        width: calc( 100% -  2 * 16px);
        font-size: 40px;
    }  
}