.lead__subtitle {
    max-width: 63%;
    margin: 32px auto 64px;
    color: white;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        max-width: 66.8%;
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        max-width: 80.7%;
    }
}

@media screen and (max-width: 600px) {
    .lead__subtitle {
        font-size: 24px;
    }
}

@media screen and (max-width: 425px) {
    .lead__subtitle {
        max-width: calc( 100% -  2 * 16px);
        margin: 16px auto 40px;
        font-size: 16px;
        line-height: 125%;
    }  
}