.places__place {
    margin: auto;
    margin-top: 80px;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1.2fr;
    gap: 40px;
}

.places__place:first-child {
    margin-top: 0;
}

@media screen and (min-width: 970px) and (max-width: 1024px) {
    .places__place {
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }
} 

@media screen and (min-width: 651px) and (max-width: 969px) {
    .places__place {
        grid-template-columns: 1fr 1fr;
        gap: 28px;
    }
} 

@media screen and (max-width: 650px) {
    .places__place {
        display: block;
        margin-top: 64px;
        width: 100%;
        gap: 48px;
    }
}