.footer {
    width: 1184px;
    margin: 92px auto 0;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .footer {
        width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        width: 720px;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        width: 165px;
        margin: 64px 0 0 16px;
        flex-direction: column;
    }
}
