.places__url-heading {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 170%;
    letter-spacing: 0.2em;
    color: #AAAAAA;
}

@media screen and (max-width: 425px) {
    .places__url-heading {
        width: 100%;
        margin-bottom: 12px;
    }
}