.place__website {
    align-self: flex-end;
    gap: 4px;
}

@media screen and (max-width: 650px) {
    .place__website {
        margin: 30px 0;
    }
}

@media screen and (max-width: 425px) {
    .place__website {
        margin: 30px 0 30px 16px;
    }
}